<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New fruit</title>
</head>

<body>
    <h1>new fruit<h1>

            <form action="/fruits" method="post">
                <LAbel for="name" name="name"> please enter new fruit name </LAbel>
                <input type="text" name="name" id="name" />
                <label for="isReadyToEat" name="isReadyToEat">is ready to eat</label>
                <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />
                <button type="submit" class="btn btn-primary">submit</button>
            </form>

<a href="/fruits" >Go Back</a>

</body>

</html>