<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fruit</title>
</head>

<body>
    <h1>
        <%= fruit.name %>
    </h1>
    <% if(fruit.isReadyToEat){ %>
        <p>the fruit is ready to eat</p>
    <% } else { %>
        <p>the fruit is not ready to eat</p>
    <% } %>
</body>

</html>